{
	admin off
	persist_config off
	auto_https off
	log {
		format json
	}
}

:{$PORT:3000} {
	root * /srv

	encode gzip

	reverse_proxy /api/* {$API_UPSTREAM}

	file_server

	try_files {path} /index.html
}
