{
	admin off
	persist_config off
	auto_https off
	log {
		format json
	}
}

:{$PORT:3000} {
	encode gzip

	handle /api/* {
		reverse_proxy {$API_UPSTREAM}
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
